<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/script.js"></script>

	<title>Eat your Homework!</title>
	<!-- Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>

<body background="./assets/images/ham-2561520_1920.jpg">
	 

	<div class="container">
		<header class="header">
			<div class="row center card pearl accent-2 z-depth-1">
				<h2 class="teal-text text-darken-2">
					
					<br>Eat a Burger. Please.</h2>
			</div>
		</header>
		<!-- Page Content goes here -->
		<main>
			{{{ body }}}
		</main>

		<footer class="page-footer card pearl accent-2 z-depth-1">
			<div class="container">
				<div class="row">
					<div class="col s6 push-s3">
						<h4 class="teal-text text-darken-4">Add a Burger Already.</h4>
						<form class="create-form">

							<div class="form-group input-field">
								<label class="teal-text text-darken-1" id="ca">Add a burger here</label>
								<input type="text" id="bg" name="name">
							</div>

							<button class="btn waves-effect waves-light" type="submit">Add Burger</button>
						</form>
					</div>
				</div>
			</div>
			
		</footer>


	</div>
</body>

</html>