<div class="row">
  <div class="col s6">
    <div class="card-panel whitedarken-1">
      <h4 class="teal-text text-darken-4 flow-text">Burgers That Are Not Eaten</h4>
    </div>
    <ul class="collection">
      {{#each burgers}} {{#unless this.devoured}} {{> burgers/burger-block devoured=false}} {{/unless}} {{/each}}
    </ul>
  </div>
  <div class="col s6">
    <div class="card-panel pink darken-1">
      <h4 class="teal-text text-darken-4 flow-text">Burgers That Are Eaten</h4>
    </div>
    <ul class="collection">
      {{#each burgers}} {{#if this.devoured}} {{> burgers/burger-block devoured=true}} {{/if}} {{/each}}
    </ul>
  </div>
</div>